# Created by https://www.toptal.com/developers/gitignore/api/go,nextjs,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=go,nextjs,visualstudiocode

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
api/*.exe
api/*.exe~
api/*.dll
api/*.so
api/*.dylib

# Test binary, built with `go test -c`
api/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
api/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
api/go.work

### NextJS ###
# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.pnpm-debug.log*

# local env files
ui/.env*.local

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/go,nextjs,visualstudiocode